<!DOCTYPE html>
<html>
  <head>
    <title>Remote Camera</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <video autoplay playsinline></video>
    <script crossorigin src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/js/index.js"></script>
    <script>
      app("<%= room %>", "<%= role %>", <%= isFirst %>)
    </script>
  </body>
</html>
